body {
    background: pink;
    font-family:'Lucida Sans';
    font-size: 15pt;

}

header {
    color: white;
    text-align: center; /*centraliar texto no centro*/

}

section {
    background: white;
    color: rgb(41, 38, 38);
    border-radius: 10px; /*deixar a borda mais arredondada*/
    padding: 15px; /*dar espaço entre o texto e a section*/
    width: 500px; /*largura fixa*/
    margin: auto; /*para deixar centralizado*/
    box-shadow: 5px 5px 20px rgba(20, 20, 20, 0.445);
    /* desclocamento lateral | deslocamento vertical | espalhamento | cor*/
}

footer {
    color: white;
    text-align: center; /*centraliar texto no centro*/
    font-style:italic;
}

div {
    text-align: center;
    padding: 5px;
}